
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #0a0a0a;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgb(35, 33, 33);
}

.navbar {
    position: sticky;
    top: 0;
    background: white;
    padding: 15px 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #131212;
    font-weight: 500;
    padding: 6px 10px;
}

.navbar ul li a:hover {
    color: #0d5ebb;
}


.main {
    display: flex;
    align-items: flex-start;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    width: 350px;
    height: calc(100vh - 70px);
    background: #ffffff;
    padding: 20px;
    overflow-y: auto;
    
}


.personal {
    text-align: center;
}

.personal img {
    width: 200px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.personal h1 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.personal p {
    font-size: 0.9rem;
    color: #777;
}
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.contact a {
    text-decoration: none;
    background: #e6f2ff;
    color: #0077ff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    transition: 0.3s;
}
.contact a:hover {
    background: #0077ff;
    color: white;
}
.content {
    margin-left: 400px;
    padding: 30px;
    max-width: 900px;
}
.bio h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.bio p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 8px;
}
#skills ul li {
    margin-bottom: 6px;
}

.education-item {
    margin-bottom: 20px;
}
.education-item h2 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

@media (max-width: 768px) {

    .navbar ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .main {
        flex-direction: column;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .content {
        margin-left: 0;
        padding: 15px;
    }

    .contact {
        grid-template-columns: 1fr;
    }

    .personal img {
        width: 140px;
        height: 140px;
    }
}